.Artboard_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 900px;
  z-index: 63;
}
.Seracg {
  font-size: 125px;
  font-family: "Poppins";
  color: rgb(243, 217, 202);
  line-height: 1.2;
  position: absolute;
  left: 0px;
  top: 150px;
  width: 0px;
  height: 0px;
  z-index: 62;
}
.Layer_6 {
  background-image: url("Layer 6.png");
  position: absolute;
  left: 539px;
  top: 658px;
  width: 364px;
  height: 327px;
  z-index: 61;
}
.Layer_13 {
  background-image: url("Layer 13.png");
  position: absolute;
  left: 128px;
  top: 653px;
  width: 363px;
  height: 365px;
  z-index: 60;
}
.Layer_7 {
  background-image: url("Layer 7.png");
  position: absolute;
  left: 948px;
  top: 655px;
  width: 365px;
  height: 363px;
  z-index: 59;
}
.Layer_5 {
  background-image: url("Layer 5.png");
  position: absolute;
  left: 683px;
  top: 122px;
  width: 73px;
  height: 42px;
  z-index: 58;
}
.Layer_3 {
  background-image: url("Layer 3.png");
  position: absolute;
  left: 664px;
  top: 336px;
  width: 114px;
  height: 114px;
  z-index: 57;
}
.Search___ {
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(251, 252, 244);
  line-height: 1.2;
  position: absolute;
  left: 951.875px;
  top: 587px;
  z-index: 56;
}
.Rectangle_4 {
  border-radius: 14px;
  background-color: rgb(106, 66, 64);
  position: absolute;
  left: 936px;
  top: 581px;
  width: 349px;
  height: 37px;
  z-index: 55;
}
.magnifier {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 2122px;
  z-index: 54;
}
.albums__covers {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 2122px;
  z-index: 51;
}
.Rectangle_3 {
  background-color: rgb(152, 133, 127);
  opacity: 0.239;
  position: absolute;
  left: 935px;
  top: 640px;
  width: 390px;
  height: 390px;
  z-index: 50;
}
.Rectangle_3 {
  background-color: rgb(152, 133, 127);
  opacity: 0.239;
  position: absolute;
  left: 525px;
  top: 640px;
  width: 390px;
  height: 390px;
  z-index: 49;
}
.Rectangle_3 {
  background-color: rgb(152, 133, 127);
  opacity: 0.239;
  position: absolute;
  left: 115px;
  top: 640px;
  width: 390px;
  height: 390px;
  z-index: 48;
}
.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 2122px;
  z-index: 46;
}
.searchbar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 2122px;
  z-index: 44;
}
.Layer_2 {
  background-image: url("Layer 2.png");
  position: absolute;
  left: 0px;
  top: -2px;
  width: 1440px;
  height: 110px;
  z-index: 43;
}
.Layer_1 {
  background-image: url("Layer 1.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 41;
}
.menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 2122px;
  z-index: 40;
}
.Rectangle_5 {
  background-color: rgb(251, 252, 244);
  position: absolute;
  left: 1388px;
  top: 149px;
  width: 30px;
  height: 5px;
  z-index: 39;
}
.Rectangle_5 {
  background-color: rgb(251, 252, 244);
  position: absolute;
  left: 1388px;
  top: 140px;
  width: 30px;
  height: 6px;
  z-index: 38;
}
.Rectangle_5 {
  background-color: rgb(251, 252, 244);
  position: absolute;
  left: 1388px;
  top: 132px;
  width: 30px;
  height: 5px;
  z-index: 37;
}
.Rectangle_4 {
  background-color: rgb(152, 133, 127);
  opacity: 0.49;
  position: absolute;
  left: 0px;
  top: 108px;
  width: 1440px;
  height: 70px;
  z-index: 35;
}
.Layer_16 {
  background-image: url("Layer 16.png");
  position: absolute;
  left: 1285px;
  top: 583px;
  width: 41px;
  height: 52px;
  z-index: 34;
}
.Layer_4 {
  background-image: url("Layer 4.png");
  position: absolute;
  left: 1px;
  top: 187px;
  width: 1440px;
  height: 791px;
  z-index: 33;
}
